*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

body{
    background-image: url(Videos/YouTube.png);
    padding: 200px 100px;
    margin: 100px;
    background-size: cover;
}

.content{
    max-width: 550px;
    margin-left: -10%;
    margin-top: 5% ;
    position: absolute;
}

.content h1{
    font-size: 45px;
    margin: 10px 0;
    color: white;
    font: bolder;
}

.content p{
    font-size: 13px;
    margin: 18px 0;
    color: #fff;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

b{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    position: relative;
}

b{
    color:white;
    background: orange;
    border-radius: 60px;
    padding: 10px 20px;
}
